# dependencies
/node_modules
/.pnp
.pnp.js

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/patches

.yarn/build-state.yml
.yarn/install-state.gz

# macOS
.DS_Store
.ds_store
thumbs.db

# Storybook
*storybook.log
storybook-static

# tamagui
**/.tamagui/*
.tamagui

# env
.env

# for monorepo use
yarn.lock
